*.dvi
*.aux
*.log
*.nav
*.out
*.toc
*.snm
*.vrb
*.bbl
*.blg
*.ps
*.md5
sync

*-eps-converted-to.pdf
*.svg
*.zip

#compilation latex
doit
esme-example.bbl
esme-example.blg
esme-example.ps
esme-example.tex.md5
makefile

*.fls
*.fdb_latexmk
